# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore mp4 files of FFAI used in this repo
/assets/*.mp4